* {
    box-sizing: border-box;
}

body {
    min-height: 100vh;
}

:root {
    --fontPrimary: 'Segoe'
}
.container {
    width: 1024px;
    margin: auto;
}

header {
    height: 490px;
    background-image:url("../assets/images/grid.png"),  url('../assets/images/header-bg-blur.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    /*background-position: center;*/
}

nav {
    padding-top: 55px;
    display: flex;
    justify-content: space-between;
}

.logo {
    width: 219px;
}

.menu {
    display: flex;
    justify-content: space-between;
    width: 480px;
    margin-right: 50px;
}

.menu_item_link {
    color: white;
    font-family: var(--fontPrimary);
    text-decoration: none;
    text-transform: capitalize;
    opacity: 0.8;
    font-size: 22px;
}

.slider {
    display: flex;
    justify-content: center;
    /*height: 100%;*/
}

.slider_control {
    width: 50px;
    height: 50px;
    border: 5px solid white;
    border-radius: 25px;
    opacity: 0.2;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s;
}

.slider_control:hover {
    cursor: pointer;
    transform: scale(1.2);
}

.slider_control.left {
    margin-right: 30px;
}

.slider_control.right {
    margin-left: 30px;
}

.slider_control .triangle {
    width: 0;
    height: 0;
    border: 8px solid transparent;
    border-left-color: white;
    border-top-color: white;
    transform: rotate(-45deg);

    position: relative;
    right: -3px;
}
.slider_control.right .triangle {
    transform: rotate(135deg);
    right: 3px;
}

