* {
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    padding-bottom: 20px;
}

:root {
    --fontPrimary: 'Segoe'
}

.container {
    width: 1024px;
    margin: 0 auto;
}

header {
    height: 490px;
    background-image: url("../assets/images/grid.png"), url('../assets/images/header-bg-blur.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    /*justify-content: flex-start;*/
    /*background-position: center;*/
}

nav {
    padding-top: 55px;
    display: flex;
    justify-content: space-between;
}

.logo {
    width: 219px;
}

.menu {
    display: flex;
    justify-content: space-between;
    width: 480px;
    margin-right: 50px;
}

.menu_item_link {
    color: white;
    font-family: var(--fontPrimary);
    text-decoration: none;
    text-transform: capitalize;
    opacity: 0.8;
    font-size: 22px;
}

.slider {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider_control {
    width: 50px;
    height: 50px;
    border: 5px solid white;
    border-radius: 25px;
    opacity: 0.2;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s;
}

.slider_control:hover {
    cursor: pointer;
    transform: scale(1.2);
}

.slider_control.left {
    margin-right: 30px;
}

.slider_control.right {
    margin-left: 30px;
}

.slider_control .triangle {
    width: 0;
    height: 0;
    border: 8px solid transparent;
    border-left-color: white;
    border-top-color: white;
    transform: rotate(-45deg);

    position: relative;
    right: -3px;
}

.slider_control.right .triangle {
    transform: rotate(135deg);
    right: 3px;
}

.slider-content {
    display: flex;
    /*justify-content: center;*/
    align-items: center;
    width: 1024px;
}

.slider-content > * {
    flex-grow: 1;
}

.slider .title {
    font-size: 55px;
    font-family: var(--fontPrimary), sans-serif;
    font-weight: bold;
    color: white;
    margin-bottom: 15px;
}

.slider .subtitle {
    font-size: 45px;
    font-family: var(--fontPrimary), sans-serif;
    font-weight: 100;
    color: white;
    margin-bottom: 35px;
}

.slider .btn {
    width: 140px;
    height: 40px;

    font-size: 23px;
    font-family: sans-serif;
    text-transform: capitalize;
    color: white;
    line-height: 40px;
    font-weight: 100;

    background-color: #185f3d;
    border: none;

    box-shadow: 0 0 2px 4px rgba(0, 0, 0, 0.27);
}

.slider .btn:hover {
    cursor: pointer;
}

.slider-content .left {
    display: flex;
    justify-content: center;
}

.slider-content .right {
    padding-top: 70px;
}

.slider-content .left img {
    transform: translateY(65px);
}

.tabs--wrp {
    padding-top: 70px;
}

.tab--input {
    display: none
}

.tab--label {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 20px 0;
}

.tab--label:hover {
    cursor: pointer;

}

.tab--input:checked + .tab--label {

    box-shadow: 0 0 2px 2px rgba(100, 100, 100, 0.48);
}

.tab--input:checked + .tab--label::after {
    display: block;
    content: '';

    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 4px;
    background-color: #fff;
    z-index: 30;
}

.tab-content {
    display: none;
    grid-area: tabsContent;
    background-color: white;
    box-shadow: 0 0px 2px 2px rgba(100, 100, 100, 0.48);
    position: relative;
    z-index: 10;
}

.tab--label[for='tab-page-1'] {
    grid-area: tabsMenu-1;
}

.tab--label[for='tab-page-2'] {
    grid-area: tabsMenu-2;
}

.tab--label[for='tab-page-3'] {
    grid-area: tabsMenu-3;
}

.tab--label[for='tab-page-4'] {
    grid-area: tabsMenu-4;
}

.tab--input:checked + .tab--label + .tab-content {
    display: block;
    padding: 15px;
}

.tabs--wrp {
    display: grid;
    grid-template-areas:
            'tabsMenu-1 tabsMenu-2 tabsMenu-3 tabsMenu-4'
            'tabsContent tabsContent tabsContent tabsContent';
    grid-template-columns: repeat(4, 1fr);
}


.tab--label .icon--wrp {
    background-repeat: no-repeat;
    background-size: contain;
    padding: 30px;
    text-align: center;
    background-position: center center;
    margin-bottom: 15px;

}

.tab--label .icon--wrp img {
    width: 70%
}

.tab--label .icon--wrp.phone {
    background-image: url(./../assets/images/blue-box.png);
}

.tab--label .icon--wrp.cart {
    background-image: url(./../assets/images/yellow-box.png);
}

.tab--label .icon--wrp.earth {
    background-image: url(./../assets/images/green-box.png);
}

.tab--label .icon--wrp.lupa {
    background-image: url(./../assets/images/orange-box.png);
}

.tab--label .tab-title {
    text-align: center;
    line-height: 1.3
}

.tab--input:checked + .tab--label .tab-title {
    font-weight: bold;
}

.tab-content .img--wrp {
    text-align: center;
    padding: 35px 15px 15px;
}

.tab-content .tab-content-title {
    font-size: 38px;
    color: rgb(79, 79, 79);
    margin-bottom: 35px;
}

.tab-content .tab-description {
    margin-bottom: 35px;
    font-size: 14px;
    color: rgb(129, 129, 129);
    line-height: 1.7
}
